{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{{ 'leopoldina_page.heading' | trans }}</h1>
            <div class="fs-4 mb-5">
                <p>{{ 'leopoldina_page.text'| trans | raw }}</p>
            </div>

            <h3>Dateien:</h3>
            <p class="fs-5 italic">{{ 'leopoldina_page.hint' | trans }}</p>
            {% for file in files %}
                <li>
                    <a
                        href="{{ file.getUrl() }}"
                        target="_blank"
                        title="{{ file.getTitle() }}"
                    >
                        {{ file.getName() }} ({{ file.getSizeFormatted() }})
                    </a>
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
