@font-face {
  font-family: 'SourceSansPro';
  src: url('../../fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../../fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
}
