{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container monograph">
        <div class="">
            <h1>{{ 'monograph.heading' | trans }}</h1>
            <p>{{ 'monograph.description' | trans }}</p>
            <section class="p-0">
                {{ sections | raw }}
            </section>
        </div>
    </div>
{% endblock %}
