@import "base/variables";
@import "base/fonts";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "layout/header";
@import "layout/footer";
@import "components/btn-close";
@import "components/collapse";
@import "components/pagination";
@import "pages/search";
@import "pages/register";
@import "pages/monograph";
@import "pages/repository-detail";

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffffff;
    font-family: 'SourceSansPro', sans-serif !important;
}

h1 {
    font-weight: 300;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

h3 {
    font-weight: 600;
}

main {
    padding-top: 7rem;
    min-height: 100%;
}

ul {
    padding-left: 0;
    li {
        list-style-type: none;
    }
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    i {
        font-size: 0.8rem;
        margin-left: 0.25rem;
    }
}

.main-content {
    opacity: .9;
}

.metadata_element_title {
    font-weight: bold;
}

////////// Navigation //////////
.navigation_top {
    padding-bottom: 20px;
    padding-top: 20px;
}

.navigation_bottom {
    padding-top: 20px;
}

.highlight {
    -webkit-box-shadow: inset -3px 2px 16px 0 #fff200;
    box-shadow: inset -3px 2px 16px 0 #fff200;
}

.all-records {
    background-color: #ffe8a1;
    color: #000000;
    margin-left: 30px;
}

.nav-item {
    font-size: large;
}

.bibliography {
    overflow-x: hidden;

    [id] {
        scroll-margin-top: 5rem;
    }
}


