// ====== old ===========
.label, .org, .person, .seg, .rs-person, .bibl, .object, .date, .superscript, .note-comment, .unknown-element {
    display: inline;
}

.dateline {
    padding-bottom: 1.5em;

    .place {
        display: inline;
    }
}

.opener {
    padding-bottom: 1.5em;

    .addrLine {
        .choice, .abbr, .expan {
            display: inline;
            text-align: left;
        }
    }
}

.p {
    padding-bottom: 1.5em;

    .choice, .abbr, .expan, .supplied {
        display: inline;
        text-align: left;
    }
}

.closer {

    .choice, .abbr, .expan, .place {
        display: inline;
        text-align: left;
    }

}

.closer {
    .signed {
        padding-top: 1.5em;
    }
}
.italic {
    display: inline;
    font-style: italic;
}

.underline {
    display: inline;
    text-decoration: underline;
}

.doubleunderline {
    display: inline;
    text-decoration:underline;
    text-decoration-style: double;
}

.half-broken, .column-left, .column-right {
    text-align: left;
}

// ======== new ============
$indent: 1em;
p {
    margin: 0;
    margin-top: 1em;
}

.address {
    margin-top: 1em;
}

section {
    margin-bottom: 1em;
    &.lecture {
        position: relative;
        padding-top: 1.5em;
    }

    .lecture-label {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.salute {
    padding-left: $indent;
}

.sup {
    vertical-align: super;
    font-size: smaller;
}

.left {
    display: inline;
    text-align: left;
}

.letterspace {
    letter-spacing: 0.13em;
    margin-left: 0.13em;
}

.subscript {
    vertical-align: sub;
}

.superscript {
    vertical-align: super;
}

.signed {
    padding-left: $indent;
}

.space {
    &.vertical {
        margin-bottom: 1em;
    }
}
