.pagination {
  margin: 0;

  .page-item {
    &.active {
      .page-link {
        border-radius: 4px;
        border: 1px solid #{$primary};
      }
    }

    a {
      color: $gray-600;
    }
  }
  .page-link {
    border: 0;
  }
}
