{% extends 'layout/base.html.twig' %}

{% block body %}
    <section class="py-4">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-column justify-content-center">
                    <h1 class="display-4">Wirkungsgeschichte von Goethes Werk<br>„Zur Farbenlehre“ in Berlin 1810-1832</h1>
                    <a href="{{path('_repository')}}" class="btn btn-outline-primary btn-lg align-self-start mt-3" role="button">
                        {{ 'To Repository' | trans }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col col-md-5 mb-5 m-md-0 pe-5">
                    <h2 class="mb-4 fw-bold">{{ 'home.main.heading_1' | trans }}</h2>
                    <p class="fs-4">{{ 'home.main.section_1' | trans }}</p>
                </div>
                <div class="offset-md-1 col col-md-5">
                    <h2 class="mb-4 fw-bold">{{ 'home.main.heading_2' | trans }}</h2>
                    <p class="fs-4">{{ 'home.main.section_2' | trans }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <h2 class="mb-4 fw-bold">{{ 'home.results.heading' | trans }}</h2>
                <p class="fs-4 mb-5">
                    Die in Archiven und gedruckten Quellen aufgefundenen Zeugnisse wurden editorisch bearbeitet,
                    kommentiert und, wenn möglich mit Digitalisaten verknüpft, in einem durchsuchbaren
                    <a href="{{ path('_repository') }}" title="Repositorium">Repositorium</a> zusammengefasst.
                    <a href="{{ path('_monograph') }}" title="Leittexte">Leittexte</a> stellen die Zusammenhänge zwischen den Zeugnissen her und werten sie aus.
                    Die Erschließung durch Verzeichnisse (<a href="{{ path('_register') }}" title="Register">Register</a>,
                    <a href="{{ path('_literature') }}" title="Literatur">Literatur</a> und
                    <a href="{{ path('_imagearchivelist') }}" title="Archivalien">Archivalien</a>) macht die Zeugnisse auch
                    für andere Fragestellungen nutzbar.
                </p>
                <h3>{{ 'home.leopoldina.heading' | trans }}</h3>
                <p class="fs-4">
                    Das Projekt schließt sich der Thematik des Bandes
                    <a href="{{ path('_leopoldina') }}" title="{{ 'Nav_Menu_Leopoldina'|trans }}">LA II 5B</a>
                    der Leopoldina-Ausgabe „Goethe. Die Schriften zur Naturwissenschaft“ an und greift auf dessen Ergebnisse zurück.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
