{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <p class="h2_app">{{ 'Heading_prefix'|trans }} - {{ 'Image_archives'|trans }}</p>
        <p class="h3_app">{{ archiveName }}</p>
        <p class="h4_app">{{ archive }}</p>
        <div class="row">
            <ul class="list-inline">
                {% for imageName, data in pageData %}
                    {% if data.documentId is not empty and data.itemUrl is not empty %}
                        {% set p = path('_repository_detail', {'id' : data.documentId})| replace({(data.documentId): data.documentId ~ '#'}) ~ '?itemurl=' ~  data.itemUrl %}
                        <li class="list-group-item"><a href="{{ p }}" target="_blank">{{ imageName }}</a></li>
                    {% else %}
                        <li class="list-group-item">{{ 'no_reference_page_exists'|trans }}: <a href="{{ path('_imagefile', {'archive': archive, 'subarchive': subarchive, 'imagefile': imageName}) }}" target="_blank">{{ imageName }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
