{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ 'Image_archives'|trans }}</h1>
        <ul class="list-group">
            {% for archive, title in archives %}
                <li class="list-group-item"><a href="{{ path('_imagesubarchivelist', {'archive': archive}) }}">{{ title }}</a> </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
