{#
literaturverezeichnis view, data distinguished by titles, subtiltes and authors,
see gfl-143
#}
{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <h2 class="fw-bold m-0">{{ item.name }}</h2>
                    <a
                        href="{{ path('_litfile', {id: item.id}) }}"
                        class="btn btn-outline-primary btn-sm ms-3"
                        target="_blank"
                        download="{{ item.id }}"
                    >
                        {{ 'literature.item.download_xml' | trans }}
                    </a>
                </div>
                {% if item.citation_string is defined %}
                    <p class="mt-4 mb-0">{{ item.citation_string }}</p>
                {% endif %}
                {% if item.uri is defined %}
                    {% for uri in item.uri %}
                        <p class="mt-2 mb-0">
                            <b>{{ 'Doc_link'|trans }}:</b>
                            <a href="{{ uri|join }}" target="_blank" class="ms-2">{{ uri|join }}</a>
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h3 class="mt-5">{{ 'literature.item.occurrences' | trans }}:</h3>
            <div class="d-flex flex-column">
                {% for document in occurrences %}
                    {{ include('pages/repository/repository_item.html.twig') }}
                {% endfor %}
                {% if occurrences is empty %}
                    <p class="text-center text-muted p-5"> {{ 'literature.no_results' | trans }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
