{#
literaturverezeichnis view, data distinguished by titles, subtiltes and authors,
see gfl-143
#}
{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ 'literature.heading'|trans }}</h1>
        <div class="row mb-4"><p>{{ 'literature.description'|trans }}</p></div>
        <!-- dynamicly create jumpmask :) -->
        {% set alphabet = [] %}
        {% for document in content %}
            {% set first_letter = document.id|first|upper %}
            {% if first_letter != alphabet|last and first_letter not in alphabet %}
                {% set alphabet = alphabet|merge([document.id|first|upper]) %}
            {% endif %}
        {% endfor %}
        <div class="btn-group overflow-auto mw-100" role="group">
            {% for letter in alphabet %}
                <a class="btn btn-outline-primary" href='#{{ letter }}'>{{ letter }}</a>
            {% endfor %}
        </div>
        <br>

        <div class="bibliography">
            <!--Set letter for jumpmask if it isnt there -->
            {% set first_letter_check = '' %}
            {% for document in content %}
                {% set first_letter = document.id|first|upper %}
                {% if first_letter != first_letter_check %}
                    <div id='{{ first_letter }}' style="display:inline" class="d-flex h2 mt-5">{{ first_letter }}</div>
                    {% set first_letter_check = first_letter %}
                {% endif %}
                <div class="card mb-2" id="{{ document.id }}">
                    <div class="card-body">
                        <div class="col d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <h4 class="fw-bold m-0">{{ document.name }}</h4>
                                <a
                                   href="{{ path('_literature') }}/{{ document.id }}"
                                   class="btn btn-outline-primary btn-sm ms-3">Details</a>
                            </div>
                            {% if document.citation_string is defined %}
                                <p class="mt-2 mb-0">{{ document.citation_string }}</p>
                            {% endif %}
                            {% if document.uri is defined %}
                                {% for uri in document.uri %}
                                    <p class="mt-2 mb-0">
                                        <b>{{ 'Doc_link'|trans }}:</b>
                                        <a href="{{ uri|join }}" target="_blank" class="ms-2">{{ uri|join }}</a>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
