{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        {% for entity in entities %}
            <h2 class="fw-bold">{{ entity.name }}</h2>
            GND: <a href="{{ entity.url }}" target="_blank">{{ entity.id }}<i class="fa-regular fa-arrow-up-right-from-square"></i></a>
        {% endfor %}
        <h3 class="mt-4">{{ 'register.item.occurrences' | trans }}:</h3>
        <div class="d-flex flex-column">
            {% for document in occurrences %}
                {{ include('pages/repository/repository_item.html.twig') }}
            {% endfor %}
            {% if occurrences is empty %}
                <p class="text-center text-muted p-5"> {{ 'register.no_results' | trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
