{% extends 'layout/base.html.twig' %}
{% block body %}
    <div class="container register">
        <h1>{{ 'register.headline'|trans }}</h1>
        <div class="row mb-4"><p>{{ 'register.description'|trans }}</p></div>
        <div class="row">
            <form action="{{ path('_register') }}" enctype="multipart/form-data">
                <div class="d-flex mb-2">
                    {% for filter in filters %}
                        <div class="form-check form-check-inline">
                            <input
                                type="checkbox"
                                name="filter[]"
                                value="{{ filter.value }}"
                                class="form-check-input"
                                id="{{ filter.value }}"
                                {% if filter.checked %} checked {% endif %}
                            />
                            <label class="form-check-label" style="cursor:pointer;" for="{{ filter.value }}">
                                {{ ('register.entity_types_plural.' ~ filter.type) | trans }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-primary" type="submit">{{ 'register.btn_filter' | trans }}</button>
            </form>
        </div>
        <hr>
        {% set alphabet = [] %}
        {% for entity in entities %}

            {% set first_letter =  entity.name|first|upper %}

            {% if first_letter != alphabet|last and first_letter not in alphabet %}
                {% set alphabet = alphabet|merge([first_letter|first|upper]) %}
            {% endif %}

        {% endfor %}
        <div class="btn-group overflow-auto mw-100" role="group">
        {% for letter in alphabet %}
            <a class="btn btn-outline-primary" href='#{{ letter }}'>{{ letter }}</a>
        {% endfor %}
        </div>
        </br>
        {% set first_letter_check = '' %}
        {% for entity in entities %}
            {% set first_letter = entity.name|first|upper %}
            {% if first_letter != first_letter_check %}
                <div id='{{ first_letter }}' class="d-flex h2 mt-4">{{ first_letter }}</div>
                {% set first_letter_check = first_letter %}
            {% endif %}
            {% if entity.name|first|upper == first_letter %}
                <div class="register-item d-flex align-items-center mb-2" style="display:block" id="{{ entity.doctype }}">
                    <h4 class="fw-bold show me-2 mb-0">
                        <a href="/register/{{ entity.id }}" class="text-decoration-none">{{ entity.name }}</a></h4>
                    <div class="alternative_facts d-none">
                        <div class="alternative_facts-title">{{ entity.name }}</div>
                        {% if entity.variant_names is defined %}
                            <ul>
                                {% for name in entity.variant_names %}
                                    <li>{{ name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="alternative_facts">
                                <ul>
                                    <li>{{ 'no_variant_names' | trans }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <span class="badge rounded-pill border border-1 border-secondary text-secondary me-3">
                        {{ ('register.entity_types.' ~ entity.entitytype) | trans }}
                    </span>
                    <span class="me-2">GND:</span><a href="{{ entity.url }}" target="_blank">{{ entity.id }}<i class="fa-regular fa-arrow-up-right-from-square"></i></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
