{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <p class="h2_app">{{ 'Heading_prefix'|trans }} - {{ 'Image_archives'|trans }}</p>
        <p class="h3_app">{{ archiveName }}</p>
        <div class="row">
            <ul class="list-inline">
                {% for sub_archive in sub_archives %}
                    {% if sub_archive.type == 'dir' %}
                        <li class="list-group-item"><a href="{{ path('_imagesubsubarchivelist', {'archive': archive ,'subArchive': sub_archive.filename}) }}">{{ sub_archive.filename }}</a> </li>
                    {% elseif sub_archive.type == 'file' and sub_archive.extension is defined and sub_archive.extension == 'jpg' %}
                        <li class="list-group-item"><a href="{{ path('_imagefile', {'archive': archive, 'subarchive': sub_archive.filename, 'imagefile': sub_archive.filename}) }}">{{ sub_archive.filename }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
