.monograph {
  section {
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  a {
    text-decoration: none;
  }

  a, p {
    margin-bottom: 0.5rem;
  }


  i {
    margin-left: 0.5rem;
    font-size: 22px;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: $secondary;
  }

  h3 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
    + h3 {
      margin-bottom: 1.5rem;
    }
  }
}
