.register {
  .show:not(:hover) + .alternative_facts {
    display: none;
  }

  .alternative_facts {
    position: absolute;
    background: #fff;
    box-shadow: 0 3px 20px 0 #dd9;
    width: auto;
    max-width: 500px;
    min-width: 300px;
    border-top: 3px solid #ddd;
    box-sizing: border-box;

  }

  .alternative_facts .alternative_facts-title {
    background: #f5f5f5;
    padding: 0 1.25rem;
    font-size: .95rem;
    letter-spacing: .03rem;
    line-height: 38px;
    height: 45px;
    border-bottom: 1px solid #ddd;
  }
}
