#app {
  height: 86vh;
  padding-bottom: 20px;

  .tido {
    .header, .root {
      background: none !important;
      padding-left: 0;
      padding-right: 0;
    }

    .panels-target {
      padding: 0;
    }
  }
}
