.search-field-group {
  &:not(:first-child) {
    label {
      visibility: hidden;
      height: 0;
    }
  }
  label {
    padding-left: 0.75rem;
    margin-bottom: 0.2rem;
  }

  input[type=checkbox] {
    margin-left: 0.75rem;
    margin-top: 0.75rem;
  }

  input::placeholder {
    font-style: italic;
  }

  .form-switch {
    padding: 0;
  }

  .remove-button {
    border-radius: 4px !important;
  }
}

.repository-item {
  &:hover {
    box-shadow: $box-shadow-sm;
  }
}
