{% extends 'layout/base.html.twig' %}

{% block body %}
    {% set path_structure = path('_pdffile', {'pdfdir': 'project', 'pdffile': 'Fbl_Bln_Struktur'})  %}
    {% set path_workflow = path('_pdffile', {'pdfdir': 'project', 'pdffile': 'Fbl_Bln_Workflow'})  %}
    {% set path_tei_anleitung = path('_pdffile', {'pdfdir': 'project', 'pdffile': 'TEI_Editionsrichtlinien_Fbl_Bln'})  %}
    <div class="container">
        <h1>{{ 'Sub title info'|trans }}</h1>
        <div class="row">
            <div>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="link" href={{path_structure}}>{{'Project_structure'|trans}}</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link" href="{{path_tei_anleitung}}">{{'TEI_instruction'|trans}}</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link" href="https://textgridrep.org/textgrid:40f9w" title="{{'TEI_schema'|trans}}">
                            {{'TEI_schema'|trans}}<i class="fa-regular fa-arrow-up-right-from-square"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link" href="{{ path('_contact') }}">{{'Nav_Menu_Contact'|trans}}</a>
                    </li>
                </ul>
            </div>
            <p class="mb-4">{{ 'info.text'| trans | raw }}</p>
        </div>
        <div class="row">
            <ul class="list-inline">
                <li class="list-group-item">{{'Documents'|trans}}: {{info.response.numFound}}</li>

                {% for i in range(0, info.facet_counts.facet_fields.doctype|length-1, 2) %}
                    <li class="list-group-item">
                        {{info.facet_counts.facet_fields.doctype[i]|capitalize|trans}}: {{info.facet_counts.facet_fields.doctype[i+1]}}
                    </li>
                {% endfor %}

                <li class="list-group-item">{{'Number of authors'|trans}}: {{info.facet_counts.facet_fields.author|length / 2}}</li>
                <li class="list-group-item">{{'Number of recipient'|trans}}: {{info.facet_counts.facet_fields.recipient|length / 2}}</li>
                <li class="list-group-item">{{'Number of post places'|trans}}: {{info.facet_counts.facet_fields.origin_place|length / 2}}</li>
                <li class="list-group-item">{{'Number of receiver places'|trans}}: {{info.facet_counts.facet_fields.destination_place|length / 2}}</li>
                <li class="list-group-item">{{'most written'|trans}}: {{info.facet_counts.facet_fields.author.0}}</li>
                <li class="list-group-item">{{'most receiver'|trans}}: {{info.facet_counts.facet_fields.recipient.0}}</li>
            </ul>
        </div>
    </div>
{% endblock %}
