{% extends 'layout/base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row mb-5">
            <h1>{{ 'contact.about.heading' | trans }}</h1>
            <h2>{{ 'contact.project_lead.heading' | trans }}</h2>
            <div class="col d-flex flex-column">
                <h3>{{ 'contact.project_lead.scientific_lead.heading' | trans }}</h3>
                <ul>
                    <li><span>{{ 'contact.project_lead.scientific_lead.person_1' | trans }}</span></li>
                    <li><span>{{ 'contact.project_lead.scientific_lead.person_2' | trans }}</span></li>
                </ul>
            </div>
            <div class="col d-flex flex-column">
                <h3>{{ 'contact.project_lead.tech_lead.heading' | trans }}</h3>
                <ul>
                    <li><a href="{{ 'contact.project_lead.tech_lead.url_1' | trans  }}" target="_blank">{{ 'contact.project_lead.tech_lead.person_1' | trans }}</a></li>
                    <li><a href="{{ 'contact.project_lead.tech_lead.url_2' | trans  }}" target="_blank">{{ 'contact.project_lead.tech_lead.person_2' | trans }}</a></li>
                </ul>
            </div>
        </div>
        <div class="row flex-column my-5">
            <h2>{{ 'contact.team.heading' | trans }}</h2>
            <div class="col d-flex flex-column mb-4">
                <h3>{{ 'contact.team.research_and_annotation.heading' | trans }}</h3>
                <ul>
                    <li><span>{{ 'contact.team.research_and_annotation.person_1' | trans }}</span></li>
                    <li><span>{{ 'contact.team.research_and_annotation.person_2' | trans }}</span></li>
                    <li>
                        <a href="{{ 'contact.team.research_and_annotation.url_3' | trans  }}" target="_blank">
                            {{ 'contact.team.research_and_annotation.person_3' | trans }}
                        </a>
                    </li>
                </ul>

            </div>
            <div class="col d-flex flex-column mb-4">
                <h3>{{ 'contact.team.dev.heading' | trans | nl2br }}</h3>
                <ul>
                    <li><a href="{{ 'contact.team.dev.url_1' | trans  }}" target="_blank">{{ 'contact.team.dev.person_1' | trans }}</a></li>
                    <li><a href="{{ 'contact.team.dev.url_2' | trans  }}" target="_blank">{{ 'contact.team.dev.person_2' | trans }}</a></li>
                    <li><a href="{{ 'contact.team.dev.url_3' | trans  }}" target="_blank">{{ 'contact.team.dev.person_3' | trans }}</a></li>
                    <li><a href="{{ 'contact.team.dev.url_4' | trans  }}" target="_blank">{{ 'contact.team.dev.person_4' | trans }}</a></li>
                    <li><a href="{{ 'contact.team.dev.url_5' | trans  }}" target="_blank">{{ 'contact.team.dev.person_5' | trans }}</a></li>
                    <li><a href="{{ 'contact.team.dev.url_6' | trans  }}" target="_blank">{{ 'contact.team.dev.person_6' | trans }}</a></li>
                    <li><a href="{{ 'contact.team.dev.url_7' | trans  }}" target="_blank">{{ 'contact.team.dev.person_7' | trans }}</a></li>
                    <li><a href="{{ 'contact.team.dev.url_8' | trans  }}" target="_blank">{{ 'contact.team.dev.person_8' | trans }}</a></li>
                    <li><span>{{ 'contact.team.dev.person_9' | trans }}</span></li>
                </ul>
            </div>
            <div class="col d-flex flex-column mb-4">
                <h3>{{ 'contact.team.tech_advice.heading' | trans }}</h3>
                <a href="{{ 'contact.team.tech_advice.url_1' | trans  }}" target="_blank">{{ 'contact.team.tech_advice.person_1' | trans }}</a>
                <a href="{{ 'contact.team.tech_advice.url_2' | trans  }}" target="_blank">{{ 'contact.team.tech_advice.person_2' | trans }}</a>
                <span>{{ 'contact.team.tech_advice.person_3' | trans }}</span>
            </div>
        </div>
        <div class="row">
            <h2>{{ 'contact.contact_persons.heading' | trans }}</h2>
            <div class="col">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h3>{{ 'contact.contact_persons.contact_1.name' | trans }}</h3>
                        <hr>
                        <h4>{{ 'contact.contact_persons.office_heading' | trans }}</h4>
                        <span class="mb-3">{{ 'contact.contact_persons.contact_1.office' | trans | nl2br }}</span>
                        <h4>{{ 'contact.contact_persons.post_heading' | trans }}</h4>
                        <span class="mb-3">{{ 'contact.contact_persons.contact_1.post' | trans | nl2br }}</span>
                        <div>
                            <span>{{ 'contact.contact_persons.phone_heading' | trans }}:</span>
                            <span>{{ 'contact.contact_persons.contact_1.phone' | trans }}</span>
                        </div>
                        <div>
                            <span>{{ 'contact.contact_persons.email_heading' | trans }}:</span>
                            <span>{{ 'contact.contact_persons.contact_1.email' | trans }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h3>{{ 'contact.contact_persons.contact_2.name' | trans }}</h3>
                        <hr>
                        <h4>{{ 'contact.contact_persons.office_heading' | trans }}</h4>
                        <span class="mb-3">{{ 'contact.contact_persons.contact_2.office' | trans | nl2br }}</span>
                        <h4>{{ 'contact.contact_persons.post_heading' | trans }}</h4>
                        <span class="mb-3">{{ 'contact.contact_persons.contact_2.post' | trans | nl2br }}</span>
                        <div>
                            <span>{{ 'contact.contact_persons.phone_heading' | trans }}:</span>
                            <span>{{ 'contact.contact_persons.contact_2.phone' | trans }}</span>
                        </div>
                        <div>
                            <span>{{ 'contact.contact_persons.email_heading' | trans }}:</span>
                            <span>{{ 'contact.contact_persons.contact_2.email' | trans }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h3>{{ 'contact.contact_persons.contact_3.name' | trans }}</h3>
                        <hr>
                        <h4>{{ 'contact.contact_persons.office_heading' | trans }}</h4>
                        <span class="mb-3">{{ 'contact.contact_persons.contact_3.post' | trans | nl2br }}</span>
                        <div>
                            <span>{{ 'contact.contact_persons.phone_heading' | trans }}:</span>
                            <span>{{ 'contact.contact_persons.contact_3.phone' | trans }}</span>
                        </div>
                        <div>
                            <span>{{ 'contact.contact_persons.email_heading' | trans }}:</span>
                            <span>{{ 'contact.contact_persons.contact_3.email' | trans }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
