{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="mb-2"><h2>{{ '404_heading'|trans }}</h2></div>
        <p>{{ '404_message'|trans }}</p>
        <p>{{ 'error_code_label'|trans }} {{ status_code }}</p>
        <p>{{ 'now'|date('d.m.Y H:i:s') }}</p>
        <p>{{ 'contact_label'|trans }} gfl[at]sub.uni-goettingen.de </p>
    </div>
{% endblock %}