<footer class="mt-5">
    <h3 class="d-none">{{ 'footer'|trans }}</h3>
    <div class="container text-muted mb-2 py-4">
        <div class="row mb-3">
            <div class="col col-lg-3 d-flex align-items-center">
                <h4 class="fs-6">{{ 'A coopertaion of'|trans }}:</h4>
            </div>
            <div class="col-lg-9 mb-4 mb-lg-0">
                <ul class="row">
                    <li class="col-lg-4">
                        <a href="https://www.sub.uni-goettingen.de" target="_blank" title="SUB Göttingen">
                            <img class="img-fluid" src="{{ asset('build/images/logo_sub.svg') }}" alt="SUB"/>
                        </a>
                    </li>
                    <li class="col-lg-4">
                        <a href="https://www.unibas.ch" target="_blank" title="Uni Basel">
                            <img class="img-fluid" src="{{ asset('build/images/logo_uni_basel.svg') }}" alt="Universität Basel"/>
                        </a>
                    </li>
                    <li class="col-lg-4">
                        <a href="https://www.tu.berlin" target="_blank" title="TU Berlin">
                            <img class="img-fluid" src="{{ asset('build/images/logo_tu_berlin.svg') }}" alt="TU Berlin"/>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col col-lg-3 d-flex align-items-center">
                <h4 class="fs-6">{{ 'Sponsored by'|trans }}:</h4>
            </div>
            <div class="col-lg-9 mb-4 mb-lg-0">
                <ul class="row">
                    <li class="col-lg-3">
                        <a href="https://www.dfg.de/" target="_blank" title="DFG">
                            <img class="img-fluid" src="{{ asset('build/images/logo_dfg.svg') }}" alt="Deutsche Forschungsgemeinschaft: DFG"/>
                        </a>
                    </li>
                    <li class="col-lg-3">
                        <a href="http://www.snf.ch" target="_blank" title="Schweizerischer Nationalfonds (SNF)">
                            <img class="img-fluid" src="{{ asset('build/images/logo_fnsnf.svg') }}" alt="snf"/>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container text-muted mb-2 border-top border-bottom pt-4">
        <ul class="list-inline text-muted text-uppercase text-center">
            <li class="list-inline-item me-3">
                <a href="{{ path('_contact') }}" class="text-secondary text-decoration-none" tabindex="0" title="{{ 'Nav_Menu_Contact'|trans }}">{{ 'Nav_Menu_Contact'|trans }}</a>
            </li>
            <li class="list-inline-item me-3">
                <a href="{{ path('_imprint') }}" class="text-secondary text-decoration-none" tabindex="0" title="{{ 'Nav_Menu_Imprint'|trans }}">{{ 'Nav_Menu_Imprint'|trans }}</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ path('_privacy') }}" class="text-secondary text-decoration-none" tabindex="0" title="{{ 'Nav_Menu_Privacy'|trans }}">{{ 'Nav_Menu_Privacy'|trans }}</a>
            </li>
        </ul>
    </div>
    <div class="container text-muted">
        <h3 class="visually-hidden">Info</h3>
        <p class="text-center pt-4">
            <small>© {{ 'now' | date('Y') }} Goethes Farbenlehre in Berlin | <a href="https://www.sub.uni-goettingen.de" target="_blank" class="text-secondary text-decoration-none">SUB Göttingen</a></small>
        </p>
    </div>
</footer>
