<header class="fixed-top border-bottom bg-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-start">
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a
                class="navbar-brand m-0 flex-shrink-1 d-flex align-items-center text-dark"
                href="{{ path('_home') }}"
                title="{{ 'logo.title' | trans  }}"
            >
                <img
                    class="d-none d-lg-block"
                    src="{{ asset('build/images/logo.png') }}"
                    width="30"
                    height="30"
                    alt="{{ 'logo.alt' | trans }}"
                >
                <span class="fw-bold ms-3">{{ 'logo.text' | trans }}</span>
            </a>
            {% set route = app.request.attributes.get('_route') %}
            <div class="ms-auto flex-grow-0 flex-shrink-1 collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
                    <li class="nav-item">
                        <a
                            class="nav-link {{ route ==  '_repository' ? 'active' }}"
                            href="{{ path('_repository') }}"
                            title="Repositorium"
                        >
                            {{ 'Nav_Menu_Repository'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link {{ route ==  '_monograph' ? 'active' }}"
                            title="{{ 'Nav_Menu_Monograph'|trans }}"
                            href="{{ path('_monograph') }}"
                        >
                            {{ 'Nav_Menu_Monograph'|trans }}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle {{
                            (route ==  '_register'
                            or route ==  '_register_item'
                            or route ==  '_literature'
                            or route ==  '_literature_item'
                            or route ==  '_imagearchivelist')
                            ? 'active'
                            }}"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            {{ 'Nav_Menu_Lists'|trans }}
                        </a>
                        <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown">
                            <li>
                                <a
                                    class="dropdown-item {{ route == '_register' ? 'active' }}"
                                    href="{{ path('_register') }}"
                                    title="{{ 'Nav_Menu_Persons'|trans }}"
                                >
                                    {{ 'Nav_Menu_Persons'|trans }}
                                </a>
                            </li>
                            <li>
                                <a
                                    class="dropdown-item {{ route ==  '_literature' ? 'active' }}"
                                    href="{{ path('_literature') }}"
                                    title="{{ 'Nav_Menu_Literature'|trans }}"
                                >
                                    {{ 'Nav_Menu_Literature'|trans }}
                                </a>
                            </li>
                            <li>
                                <a
                                    class="dropdown-item {{ route ==  '_imagearchivelist' ? 'active' }}"
                                    href="{{ path('_imagearchivelist') }}"
                                >
                                    {{ 'Nav_Menu_Archive'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link {{ route ==  '_leopoldina' ? 'active' }}"
                            href="{{ path('_leopoldina') }}"
                            title="{{ 'Nav_Menu_Leopoldina'|trans }}"
                        >
                            {{ 'Nav_Menu_Leopoldina'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link {{ route ==  '_info' ? 'active' }}"
                            href="{{ path('_info') }}"
                            title="{{ 'Nav_Menu_Info'|trans }}"
                        >
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
