{% extends 'layout/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/tido_style.css') }}">
    <style>
        main {
            padding-top: 60px;
            background: #eee;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <a class="btn btn-outline-primary mt-4 position-relative" style="z-index: 1" href="{{ path('_repository') ~ '?' ~ app.request.get('search') }}"><span class="bi-search"></span> {{ 'back_to_search' | trans }}</a>
        <div id="app"></div>
    </div>
    <script src="{{ asset('build/tido.js') }}"></script>
    <script>
        window.addEventListener('load', function () {
            window.tido = new window.Tido({
                manifest: "{{manifestUrl}}",
                labels: {
                    item: "Seite",
                    manifest: "Dokument"
                },
                colors: {
                    forceMode: "light",
                    primary: "#4569cc"
                },
                lang: "de",
                panels: [
                    {
                        views: [{
                            id: "image",
                            label: "Manuskript",
                            connector: {
                                id: 3
                            }
                        }]
                    },
                    {
                        label: "Text",
                        views: [
                            {
                                id: "text1",
                                label: "Edierter Text",
                                connector: {
                                    id: 4,
                                    options: {
                                        type: "edited"
                                    }
                                }
                            },
                            {
                                id: "text2",
                                label: "Transkription",
                                connector: {
                                    id: 4,
                                    options: {
                                        type: "transcription"
                                    }
                                }
                            }
                        ]
                    },
                    {
                        label: "Kommentar",
                        views: [
                            {
                                id: "annotations1",
                                label: "Kommentare",
                                connector: {
                                    id: 5,
                                    options: {
                                        types: [
                                            {
                                                name: "Editorial Comment",
                                                icon: "biChatFill"
                                            },
                                            {
                                                name: "Abstract",
                                                annotationType: "text",
                                                displayWhen: "edited"
                                            }
                                        ]
                                    }
                                }
                            },
                            {
                                id: "annotations2",
                                label: "Register",
                                connector: {
                                    id: 5,
                                    options: {
                                        types: [
                                            {
                                                name: "Person",
                                                icon: "biPersonFill"
                                            },
                                            {
                                                name: "Place",
                                                icon: "biGeoAltFill"
                                            },
                                            {
                                                name: "Org",
                                                icon: "biBank2"
                                            },
                                            {
                                                name: "Object",
                                                icon: "biArchiveFill"
                                            },
                                            {
                                                name: "Date",
                                                icon: "biCalendarWeek"
                                            },
                                            {
                                                name: "Work",
                                                icon: "biJournals"
                                            }
                                        ]
                                    }
                                }
                            }
                        ]
                    },
                    {
                        label: "Dokumentdaten",
                        views: [
                            {
                                id: "meta",
                                label: "Metadaten",
                                connector: {
                                    id: 2,
                                    options: {
                                        collection: {
                                            all: true
                                        },
                                        manifest: {
                                            all: true
                                        },
                                        item: {
                                            all: true
                                        }
                                    }
                                }
                            },
                            {
                                id: "tree",
                                label: "Inhalt",
                                connector: {
                                    id: 1
                                }
                            }
                        ]
                    }
                ],
                translations: {
                  Edition_license: 'Editionslizenz'
                }
            });
        });
    </script>
{% endblock %}
{% block footer %}
{% endblock %}
