{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ 'Search_headline'|trans }}</h1>
        <div class="row mb-3">
            <form class="my-3 my-lg-0 search-form" action="{{ path('_repository') }}" enctype="multipart/form-data">
                <div class="fields"></div>
                <button class="add-field-group-button btn btn-outline-primary align-self-start flex-grow-0" type="button">Feld hinzufügen</button>
                <button class="btn btn-primary ms-2 mb-3 my-sm-0 align-self-start flex-grow-0" type="submit">{{ 'Search'|trans }}</button>
            </form>
        </div>
        <hr>
        {% if documents is defined and documents|length == 0 %}
            <div class="alert alert-warning" role="alert">
                {{ 'No results found'|trans }}.
            </div>
        {% elseif documents is defined %}

            <div class="results-header d-flex flex-wrap align-items-center mb-4">
                <span class="text-muted">
                    <strong>{{ 'Result'|trans({"%count%": documents|length}) }}:</strong> {{'Results_of' | trans({'%from%': resultsFrom, '%to%': resultsTo, '%total%': resultsTotal})}}
                </span>
                <div class="sort d-flex align-items-center text-muted ms-auto">
                    {% include 'pages/repository/sort.html.twig' %}
                </div>
                <div class="pagination-wrapper flex-grow-1 flex-lg-grow-0">
                    {{ knp_pagination_render(documents, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
            <div class="results-body d-flex flex-column">
                {% for document in documents %}
                    {{ include('pages/repository/repository_item.html.twig') }}
                {% endfor %}
            </div>
            <div class="d-flex my-4">
                <div class="ms-auto">
                    {{ knp_pagination_render(documents, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
