{%
    set href = path('_repository_detail', {'id': document.id, 'search': query is defined ? query : ''})
%}
<a href="{{ href }}" class="repository-item text-decoration-none mb-2" target="_blank">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <h4 class="card-title m-0">{{ document.short_title }}</h4>
                <span class="badge rounded-pill border border-1 border-secondary text-secondary ms-3 me-2">
                    {{ 'Doc_id' | trans }}: {{ document.id }}
                </span>
                {% for keyword in document.free_keyword  %}
                    {% if keyword == 'Handschrift' or keyword == 'Druck' %}
                    <span class="badge rounded-pill border border-1 border-secondary text-secondary me-2">
                        {{ keyword }}
                    </span>
                    {% endif %}
                {% endfor %}
                <i class="ms-auto fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </div>
    </div>
</a>
