{% set sortandorder = app.request.get('sorting') ~ '-' ~ app.request.get('direction') %}
{% set sorting = app.request.get('sorting') %}

<label class="flex-shrink-0 me-2" for="sort">{{ 'Sorted by' | trans }}</label>
<select class="form-select text-muted" id="sort">
    <option value="date-asc" {{ sortandorder == 'date-asc' ? 'selected' }}>{{ 'date-asc' | trans({ '%count%': 1}) }}</option>
    <option value="date-desc" {{ sortandorder == 'date-desc' ? 'selected' }}>{{ 'date-desc' | trans({ '%count%': 1}) }}</option>
</select>
